<template>
  <div class="cart">
    <h2>Кошик ({{ cartItems.length }} товарів)</h2>
    <ul>
      <li v-for="item in cartItems" :key="item.id">
        {{ item.item }} ({{ item.quantity }})
      </li>
    </ul>
  </div>
</template>
<script>
    import { mapGetters } from 'vuex';

    export default {
        computed: {
            ...mapGetters(['cartItems']),
        },
    }
</script>