<template>
  <div>
    <h2 v-if="product">
      This is page for product #{{ product.id }}: {{ product.item }}
    </h2>
    <h2 v-else>
      Product not found
    </h2>
    <div>
      <button @click="addToCart(product)" class="btn" :disabled="isInCart(product)">Add to cart</button>
    </div>
  </div>
</template>
<script>
import products from '../data/products.js';
import { mapActions, mapGetters } from 'vuex';

export default {
  data: function () {
    return {
      product: null,
    };
  },
  computed: {
    ...mapGetters(['cartItems']),
  },
  mounted: function () {
    this.product = products.find((item) => {
      return item.id === Number(this.$route.params.id);
    });
  },
  methods: {
    ...mapActions(['addToCart']),
    isInCart(product) {
      return this.cartItems.some((cartItem) => cartItem.id === product.id);
    },
  },
};
</script>